<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
        <div class="header">
            <span [routerLink]="['../../home']" class="arrow">
                <img src="../../../assets/icon/voltar.png" alt="">
            </span>
            <span class="profile-text">
                Agendamento
            </span>
            <div class="profile-img">
                <img src="../../assets/img/silva.jpg" alt="">
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">

        <h3>Escolha a data</h3>

        <div class="container-calendar">
            <ion-datetime [(ngModel)]="myDate" (ionChange)="onChangeDate(myDate)" size="cover" locale="pt-BR"
                color="light" [presentation]="selectedMode">
            </ion-datetime>
        </div>


        <div class="horario">
            <h3>Escolha o horário</h3>

            <p>Manhã</p>
            <div class="time">
                <span *ngFor="let item of timeSlots">
                    <span [ngClass]="{'clock-ative': start===item.start}" (click)="onChange(item.start)"
                        class="time-hour" *ngIf="item.start<='12:00'">{{item.start}}</span>
                </span>
            </div>

            <p>Tarde</p>
            <div class="time">
                <span *ngFor="let item of timeAfternon">
                    <span [ngClass]="{'clock-ative': start===item.start}" (click)="onChange(item.start)"
                        class="time-hour">{{item.start}}</span>
                </span>
            </div>

            <p *ngIf="timeNight==[]">Noite</p>
            <div class="time" *ngIf="timeNight==[]">
                <span *ngFor="let item of timeNight "><span class="time-hour">{{item.start}}</span></span>
            </div>
        </div>
        <button (click)="createSchedule()">Agendar</button>
    </div>
</ion-content>

<!-- [routerLink]="['../agendamento-concluido']" -->