<ion-header [translucent]="true">
    <ion-toolbar color="tertiary">
        <div class="header">
            <span [routerLink]="['../../home/home']"  class="arrow">
                <img src="../../../assets/icon/voltar.png" alt="">
            </span>
            <span class="profile-text">
                Agendamento
            </span>
            <div class="profile-img">
                <img src="../../assets/img/silva.jpg" alt="">
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <h3>Escolha a data</h3>

        <!--   <div>
            <ion-calendar [(ngModel)]="date" (onChange)="onChange($event)">
            </ion-calendar>
        </div> -->
        <ion-datetime  size="cover" color="light" [presentation]="selectedMode">
        </ion-datetime>

        <div class="horario">
            <h3>Escolha o horário</h3>

            <p>Manhã</p>
            <div class="time">
                <span>09:00</span>
                <span>10:30</span>
                <span>12:00</span>
            </div>

            <p>Tarde</p>
            <div class="time">
                <span class="clock-ative">12:00</span>
                <span>13:30</span>
                <span>14:00</span>
                <span>15:00</span>
                <span>17:30</span>
            </div>

            <p>Noite</p>
            <div class="time">
                <span>19:00</span>
                <span>19:30</span>                
            </div>
        </div>
        <button>Agendar</button>
    </div>
</ion-content>