<ion-content [fullscreen]="true" class="ion-no-padding" color="primary">
    <div class="container" id="container">
        <div class="header">
            <P>Awesome</P>
            <img class="bar" src="../../assets/img/Rectangle.png" alt="">
            <div class="logo-content">
                <img class="elipse" src="../../assets/icon/Ellipse.png" alt="">
                <img class="logo" src="../../assets/img/GoBarber.png" alt="">
                <img class="elipse2" src="../../assets/icon/Ellipse.png" alt="">
            </div>
            <img class="bar" src="../../assets/img/Rectangle.png" alt="">
            <p>Haircuts & Shaves</p>
        </div>


        <div class="form">
            <h2>Login</h2>
            <form [formGroup]="register" (ngSubmit)="login()">
                <div class="forms-control">
                    <span><img src="../../../assets/icon/email.png" alt=""></span>
                    <input type="email" placeholder="E-mail" formControlName="email">
                </div>
                <div class="forms-control">
                    <span><img src="../../../assets/icon/senha.png" alt=""></span>
                    <input type="password" placeholder="Senha" formControlName="password">
                </div>
                <div class="forms-control">
                    <button *ngIf="!loading" [disabled]="register.invalid" type="submit"><i class="fas fa-sign-in"
                            aria-hidden="true"></i>
                        Entrar</button>
                    <button *ngIf="loading" class="continuar" [disabled]="true" type="submit">
                        <ion-spinner></ion-spinner>
                    </button>
                </div>
            </form>

        </div>
        <footer class="footer">
            <div class="sign-up">
                <img src="../../../assets/icon/Criar.png" alt="">
                <span [routerLink]="['../cadastrar']"> Criar uma conta</span>
            </div>
        </footer>
    </div>

</ion-content>