<ion-content [fullscreen]="true" color="primary">
  <div class="container">
    <P>Awesome</P>
    <img class="bar" src="../../assets/img/Rectangle.png" alt="">
    <div class="logo-content">
      <img class="elipse" src="../../assets/icon/Ellipse.png" alt="">
      <img class="logo" src="../../assets/img/GoBarber.png" alt="">
      <img class="elipse2" src="../../assets/icon/Ellipse.png" alt="">
    </div>
    <img class="bar" src="../../assets/img/Rectangle.png" alt="">
    <p>Haircuts & Shaves</p>
  </div>
</ion-content>