ion-header {
  font-family: "Roboto Slab", serif;
  .header {
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    .profile-text {
      p {
        color: #999591;
        font-size: 1.25rem;
        margin: 0;
        line-height: 1.75rem;
        font-family: Roboto Slab;
        &:last-child{
          color: #ff9000;
        }
      }
    }
    .profile-img {
      width: 60px;
      height: 60x1px;
      img {
        border-radius: 5rem;
      }
    }
  }
}

ion-content {
  font-family: "Roboto Slab";
  .title{
    font-size: 1.5625rem;
  }
  .container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .profile-card {
      width: 100%;      
      background: #3e3b47;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
      padding: 1rem;
      margin-top: 1rem;
      cursor: pointer;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      &:hover{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
      }
      &-img {
        
        img {
          border-radius: 50%;          
          object-fit: cover no-repeat;          
          width: 6rem;          
        }
      }
      &-detail {
        width: 100%;
        height: 7rem;
        margin-left: 2px;
        padding-top: 8px;
        .name{
        font-size: 1.125rem;
        font-family: Roboto Slab;
        color: var(--gray, #F4EDE8);
        font-weight: 500;
        margin: 0%;
      }

        .date-time {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          p {
            color: #999591;
          }

          &:last-child {
            margin-top: -1.5rem;
          }
        }
      }
    }
  }
}
